# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

.DS_Store

# folders from quarto documents

/project_docs_files
/project_docs_files/figure-html
NCBI_pangenome.Rproj
/tables/pbs_errorfiles
/presentation
data/.DS_Store
/pango_results
data/.DS_Store
data/.DS_Store
/data/panaroo_results
/exploration
/tables
/data/proteinfer
/goPredSim
code/embed_ProtT5.ipynb
/data/eggnog
/data/goPredSim
/data/interpro
/data/progenomes
/data/core_phylo_tree
/references_doc
owltools/
code/annotations.db
